.order-page .order-container .order-left {
  width: 821px;
  height: auto;
}

.order-page .order-container .order-left .order-main-box {
  width: 821px;
  height: auto;
  margin-bottom: 32px;

  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: -12px 12px 4px 0 #bababf, 0 4px 10px 9px #d3d3e7 inset,
    0 4px 16px 0 rgba(242, 189, 87, 0.04) inset;
}

.order-page .order-container .order-left .order-main-box .order-box-scroll {
  width: 100%;
  height: auto;
  padding-top: 20;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: -12px 12px 4px 0 #bababf, 0 4px 10px 9px #d3d3e7 inset,
    0 4px 16px 0 rgba(242, 189, 87, 0.04) inset;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .order-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .orders-name-price {
  margin-left: 40px;
  margin-top: 26px;
  width: 370px;
  height: 36px;

  display: flex;
  align-items: center;
  /* background-color: rgba(16, 10, 10, 0.315); */
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .orders-name-price
  .order-dish-img {
  margin-right: 20px;
  width: 50px;
  height: 47px;
  border-radius: 29px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .orders-name-price
  .title-dish {
  font-family: Commissioner;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 163.636% */
  color: #000;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .price-box {
  margin-left: 173px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .price-box
  p {
  margin-right: 17px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(38, 38, 38, 0.88);
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .price-box
  img {
  width: 18px;
  height: 18px;
}

/* total-calculate-box */
.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .total-calculate-box {
  margin-top: 6px;
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* background-color: #bababf; */
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .total-calculate-box
  .product-total-name {
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 257.143% */
  color: #000;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .total-calculate-box
  .product-prices {
  color: #262626;
  text-align: center;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .total-calculate-box
  img {
  width: 18px;
  height: 18px;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .total-calculate-box
  .product-cancel-butt {
  width: 93px;
  height: 26px;
  border-radius: 10px;
  background: #d2b68c;

  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #343434;
}

.order-page
  .order-container
  .order-left
  .order-main-box
  .order-box-scroll
  .total-calculate-box
  .product-payment-butt {
    margin-right: 32px;
  width: 93px;
  height: 26px;

  border-radius: 10px;
  background: #70b45b;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}
